* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #e8e8e4;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 25rem;
  width: 20rem;
  background-color: #9fa0ff;
  border-radius: 20px;
}
.search {
  border-radius: 10px;
  margin: 50px;
  padding: 5px;
}
.city-name {
  margin: 20px;
}
.temp {
  margin: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp-diff {
  display: flex;

  justify-content: space-between;
  width: 12rem;
  /* border: 1px solid bisque; */
  /* margin: 0 50px; */
}

@media only screen and (max-width: 350px) {
  .card {
    width: 15rem;
    height: 20rem;
  }
}
